@import 'mixins';

$primary: #e7ebec;
$red: #c9a596;
$red-dark: #52413e;
$red-light: #ddc0b7;
$blue: #96a4c9;
$blue-dark: #3e4352;
$blue-light: #b7c2dd;

$font-text: 2rem;
$font-small: 1.5rem;
$font-small-head: 3rem;
$font-big-head: 6.5rem;
