@import 'mixins';

$primary: #e7ebec;
$red: #c9a596;
$red-dark: #281f1f;
$red-light: #ddc0b7;
$blue: #96a4c9;
$blue-dark: #18181b;
$blue-light: #b7c2dd;

$font-text: 2.1rem;
$font-small: 1.6rem;
$font-small-head: 3rem;
$font-med-head: 4rem;
$font-big-head: 6.5rem;

$font-big-head-mobile: 5rem;
