@import 'variables';
@import 'mixins';

.container {
  main {
    h1 {
      text-align: center;
      font-size: $font-small-head;
      color: #000;
      margin: 3rem 0;
    }
    p {
      font-size: $font-text;
      text-align: center;
      width: 50rem;
      margin: 0 auto 3rem auto;
      font-weight: 300;
      font-style: italic;

      @include respond(phone) {
        width: 100%;
      }

      span {
        color: $blue-dark;
        font-weight: 700;
      }
    }
    section {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 0 auto 10rem auto;

      .left {
        // width: 50%;
        margin: auto 0;
        float: right;

        @include respond(tab) {
          display: none;
        }
      }
      .right {
        margin: auto 0 auto 2rem;
        width: 50%;
        min-width: 50rem;
        max-width: 70rem;
        font-size: $font-text;

        @include respond(tab) {
          max-width: none;
          width: 80%;
        }

        @include respond(phone) {
          min-width: initial;
          width: 100%;
        }

        p {
          width: auto;
          text-align: left;
          font-weight: 400;
          font-style: normal;
          margin-bottom: 1rem;
          line-height: 140%;
        }
        h2 {
          font-size: $font-text;
          font-weight: 700;
        }

        &__buttons {
          width: 100%;
          display: flex;
          flex-direction: row;
          margin: 2rem 0 0 0;

          @include respond(phone) {
            flex-direction: column;
          }

          &__primary {
            color: #fff;
            padding: 2rem 3rem;
            background-color: $blue-dark;
            border-radius: 10px;
            text-decoration: none;
          }
          &__secondary {
            padding: 2rem 3rem;
            color: $blue-dark;
            text-decoration: none;
          }
        }
      }
    }
  }
}
