@import 'mixins';
@import 'variables';

.container {
  main {
    h1 {
      font-size: $font-small-head;
      text-align: center;
    }

    .create {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 90rem;
      margin: 2rem auto;

      &__desc {
        h2 {
          font-size: 2.5rem;
        }
        p {
          font-size: $font-text;
          width: 30rem;
        }
      }

      &__inputs {
        width: 100%;

        h3 {
          font-size: $font-small;
          margin-bottom: 1rem;
        }

        &__input {
          display: flex;
          flex-direction: column;
          margin-bottom: 2rem;

          label {
            font-size: $font-small;

            display: flex;
            flex-direction: row;
            justify-content: space-between;

            div {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              cursor: pointer;

              p {
                margin-right: 1rem;
              }
            }
          }
          input {
            padding: 1rem;
            border-radius: 5px;
            border: 1px solid #6a6a6a;
          }
          select {
            padding: 1rem;
            border-radius: 5px;
            border: 1px solid #6a6a6a;
            appearance: none;
            background-image: url('/images/layout/arrow.png');
            background-repeat: no-repeat;
            background-position: right 0.7rem top 50%;
            background-size: 2rem auto;

            &:invalid {
              color: #636c72;
            }
          }

          &__rate {
            display: flex;
            flex-direction: row;

            p {
              font-size: 2.5rem;
              line-height: 3.5rem;
              margin: 0 0.5rem;
            }
            &__to {
              font-size: $font-text !important;
              margin: 0 1rem;
            }
            input {
              width: 5rem;
            }
          }

          textarea {
            resize: none;
            width: 100%;
            height: 10rem;
            padding: 1rem;
            border-radius: 5px;
            border: 1px solid #6a6a6a;
            font-family: Arial;
          }
        }

        &__button {
          color: $blue-dark;
          background-color: transparent;
          border-style: none;
          font-weight: 700;
          font-size: $font-text;
          cursor: pointer;
          transform: translateY(-2rem);
          display: flex;
          flex-direction: row;

          div {
            transform: translateY(-0.2rem);
            margin-left: 0.5rem;
          }
        }

        &__disclaimer {
          font-size: $font-small;
          // color: red;
        }

        &__preview {
          color: #000;
          background-color: $blue;
          padding: 1rem 2rem;
          border-radius: 10px;
          margin-top: 1rem;
          border-style: none;
          font-size: $font-text;
          font-weight: 700;
          cursor: pointer;
        }

        &__error {
          margin-top: 1rem;
          font-size: $font-small;
          color: red;
        }
      }
    }
  }
}
