@import 'mixins';
@import 'variables';

.side {
  width: 35rem;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 10px;
  padding: 4rem 2rem;
  font-size: $font-text;
  height: calc(100vh - 16.2rem);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

  @include respond(tab) {
    display: none;
    margin: 0 auto;
  }
  @include respond(phone) {
    width: 40rem;
    height: 100%;
  }

  &__arrow {
    transform: rotate(90deg);
    width: 3rem;
    cursor: pointer;
  }

  &__title {
    width: 31rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
    border-bottom: 1px solid #f0f0f0;
    text-align: center;

    @include respond(phone) {
      width: 100%;
    }

    &__number {
      font-size: 2.5rem;
      font-weight: 500;
      padding: 1rem 0 0 0;
    }

    &__type {
      color: #6a6a6a;
      font-weight: 400;
      text-align: center;
    }
    &__phone {
      color: #6a6a6a;
      font-weight: 300;
      font-size: $font-small;
      text-align: center;
    }
  }

  &__scroll {
    overflow: scroll;
    &__book {
      padding: 2rem 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position: relative;
      border-bottom: 1px solid #f0f0f0;

      &__left {
        width: auto;

        &__jobs {
          font-weight: 500;
        }
        &__location {
          font-size: $font-small;
          color: #6a6a6a;
          margin-bottom: 1rem;
        }
        a {
          color: #000;
          padding: 1rem;
          background: $red;
          border-radius: 5px;
          font-size: $font-small;
          text-decoration: none;
        }
      }

      &__right {
        margin-left: 1rem;
        width: 3rem;
        cursor: pointer;

        @include respond(phone) {
          width: 4rem;
        }
      }
      &__error {
        position: absolute;
        bottom: 0.5rem;
        font-size: $font-small;
        color: red;
      }
    }

    &__details {
      padding: 2rem 0;
      border-bottom: 1px solid #f0f0f0;

      &__title {
        font-weight: 500;
      }
      &__detail {
        font-size: $font-small;
        margin: 1rem 0;
        &__title {
          font-weight: 500;
        }
        &__desc {
          color: #6a6a6a;
        }
      }
    }

    &__desc {
      padding: 2rem 0 0 0;

      &__title {
        font-weight: 500;
      }
      &__desc {
        font-size: $font-small;
        color: #6a6a6a;
        margin-bottom: 1rem;
      }
      &__jobs {
        font-size: $font-small;
        color: #6a6a6a;

        &__job {
          margin-bottom: 2rem;
        }

        p {
          span {
            font-weight: 300;

            ul {
              li {
                list-style-type: disc;
                margin-left: 2rem;
              }
            }
          }
        }
      }

      &__highlights {
        font-size: $font-small;
        color: #6a6a6a;

        p {
          margin-bottom: 0.5rem;
        }
      }

      &__overflow {
        color: $red;
        font-size: $font-small;
        cursor: pointer;
      }
    }
  }
  &__contact {
    border-top: 1px solid #f0f0f0;

    button {
      color: #000;
      text-align: center;
      padding: 1rem 2rem;
      background-color: $red;
      font-size: $font-text;
      font-family: 'Ubuntu', sans-serif;
      font-weight: 300;
      border-radius: 10px;
      border-style: none;
      width: 100%;
      margin-top: 1rem;
      cursor: pointer;

      @include respond(phone) {
        width: 100%;
      }
    }
  }
}
