@import 'mixins';
@import 'variables';

.container {
  .preview {
    width: 90rem;
    margin: 0 auto;

    @include respond(tab) {
      width: 100%;
    }

    h1 {
      font-size: $font-small-head;
      text-align: center;
    }

    &__paypal {
      font-weight: 300;
      font-size: $font-small;
      text-align: right;
    }

    &__buttons {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      margin-top: 2rem;

      div {
        a {
          margin: 0 2rem;
          font-size: $font-text;
          text-align: center;
          font-weight: 300;
          padding: 0.75rem 5rem;
          color: #000;
          text-decoration: none;
          border-radius: 10px;
          width: 25rem;
          background: #fff;

          // &:first-of-type {
          // }

          // &:last-of-type {
          //   background: $blue;
          // }
        }
      }
    }

    &__discount {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      margin: 2rem 0 0 2rem;

      p {
        font-size: $font-small;
        font-weight: 300;
        margin-right: 2rem;
      }

      input {
        color: #000;
        text-decoration: none;
        border-radius: 10px;
        border: 1px solid $blue;
        width: 20rem;
        height: 3rem;
        background: #fff;
        padding: 0 1rem;
      }
    }

    &__notice {
      width: 100%;
      text-align: center;
      background: #fff;
      margin: 2rem 0;
      text-align: left;
      font-size: $font-text;
      padding: 2rem;
      border-radius: 10px;
      border-left: 10px solid $blue-dark;
    }

    &__listing {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      @include respond(tab) {
        flex-direction: column;
        align-items: center;
        gap: 3rem;
      }
    }
  }
}
