@import 'mixins';
@import 'variables';

.container {
  main {
    h1 {
      font-size: $font-small-head;
      text-align: center;
    }
    .settings {
      width: 60rem;
      margin: 0 auto;

      @include respond(tab) {
        width: 100%;
      }

      label {
        display: block;
        font-size: $font-small;
        color: #393939;

        @include respond(tab-small) {
          font-size: $font-text;
        }
      }

      &__input {
        margin-top: 2rem;

        input {
          height: 4rem;
          width: 40rem;
          border-radius: 5px;
          border: 2px solid $blue;
          padding-left: 1rem;

          @include respond(tab) {
            width: 100%;
          }
        }
        button {
          width: 18rem;
          margin-left: 2rem;
          height: 4rem;
          background-color: $blue;
          font-size: $font-text;
          color: #000;
          border-radius: 10px;
          border-style: none;
          cursor: pointer;

          @include respond(tab) {
            width: 100%;
            margin: 1rem 0;
          }

          &[disabled] {
            background-color: #b0b0b0;
            cursor: default;
          }
        }
      }

      &__password {
        margin-top: 2rem;

        button {
          color: #000;
          background-color: $blue;
          width: 40rem;
          border-radius: 10px;
          border-style: none;
          padding: 1rem;
          margin-top: 1rem;
          cursor: pointer;
          font-size: $font-text;

          @include respond(phone) {
            width: 100%;
          }
        }

        p {
          font-size: $font-small;
          margin-top: 0.5rem;

          @include respond(tab-small) {
            font-size: $font-text;
          }
        }
      }

      &__error {
        font-size: $font-small;
        color: red;
        margin-top: 1rem;

        @include respond(tab-small) {
          font-size: $font-text;
        }
      }
      &__success {
        font-size: $font-text;
        color: $blue;
        margin-top: 1rem;

        @include respond(tab-small) {
          font-size: $font-text;
        }
      }
    }
  }
}
