@import 'mixins';
@import 'variables';

.container {
  main {
    h1 {
      font-size: $font-small-head;
      text-align: center;
    }

    .saved {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;

      &__loading {
        color: $blue-dark;
        font-size: $font-text;
        text-align: center;
      }

      &__listings {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 74rem;
        margin-right: 3rem;
        justify-content: space-around;

        @include respond(tab) {
          margin: 0;
        }

        &__error {
          font-size: $font-text;
          margin-bottom: 25vh;
        }
      }
    }
  }
}
