@import 'variables';
@import 'mixins';

.container {
  main {
    h1 {
      font-size: $font-small-head;
      text-align: center;
      margin: 3rem 0;
    }
    p {
      font-size: $font-text;
      margin-bottom: 1rem;

      span {
        font-weight: 700;
      }
    }
  }
}
