@import 'mixins';
@import 'variables';

.saved__block {
  width: 35rem !important;
}

.block {
  display: flex;
  flex-direction: column;
  width: 35rem;
  height: 30rem;
  background-color: #fff;
  padding: 2rem;
  font-size: $font-text;
  border-radius: 15px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  margin: 1rem;
  cursor: pointer;

  @include respond(tab-land) {
    width: 100%;
    height: auto;
  }

  &__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @include respond(tab-land) {
      justify-content: flex-start;
    }

    p {
      font-size: $font-text;
      font-weight: 500;
      margin-left: 1rem;
      width: 40rem;

      @include respond(tab-land) {
        width: auto;
      }
    }
  }

  &__highlights {
    display: flex;
    flex-direction: row;
    margin: 1rem 0;
    flex-wrap: wrap;

    p {
      margin: 0 1rem 0.5rem 0;
      background: #e7e7e7;
      padding: 0.5rem 1rem;
      border-radius: 10px;
    }
  }

  &__description {
    font-size: $font-small;
    overflow: scroll;
  }
}
