@import 'mixins';
@import 'variables';

.breadcrumbs {
  ul {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    width: 95rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    margin: 4rem auto;
    border-radius: 10px;
    background: #fff;

    @include respond(tab) {
      flex-direction: column;
      width: 100%;
    }

    a {
      text-decoration: none;
    }

    li {
      padding: 1.5rem;
      color: #000;
      text-decoration: none;
      font-size: $font-text;

      @include respond(tab) {
        padding: 2rem 4rem;
      }
    }
    .first_a {
      border-radius: 10px 0 0 10px;
      padding-left: 4rem;

      @include respond(tab) {
        border-radius: 10px 10px 0 0;
      }
    }
    .last_a {
      border-radius: 0 10px 10px 0;
      padding-right: 4rem;

      @include respond(tab) {
        border-radius: 0 0 10px 10px;
      }
    }
  }
}
