@import 'mixins';
@import 'variables';

.saved__block {
  width: 35rem !important;
}

.block {
  display: flex;
  flex-direction: column;
  width: 35rem;
  height: 30rem;
  background-color: #fff;
  padding: 2rem;
  font-size: $font-text;
  border-radius: 15px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  margin: 1rem;
  cursor: pointer;

  @include respond(tab-land) {
    width: 100%;
    height: auto;
  }
  &__tags {
    font-size: $font-small;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 700;
    margin-bottom: 1rem;

    &__verified {
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;

      p {
        margin-right: 1rem;
      }

      &__help {
        &:hover + .block__tags__verified__tooltip {
          display: block;
        }
      }

      &__tooltip {
        display: none;

        flex-direction: column;
        width: 25rem;
        position: absolute;
        color: #000;
        font-weight: 300;
        border: 1px solid #000;
        padding: 1rem;
        border-radius: 10px;
        background-color: #fff;
        z-index: 100;
        left: -50%;
        transform: translateX(-5%) translateY(70%);
      }
    }
  }

  &__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @include respond(tab-land) {
      justify-content: flex-start;
    }

    p {
      font-size: $font-text;
      font-weight: 500;
      margin-left: 1rem;
      width: 40rem;

      @include respond(tab-land) {
        width: auto;
      }
    }
  }

  &__highlights {
    display: flex;
    flex-direction: row;
    margin: 1rem 0;
    flex-wrap: wrap;

    p {
      margin: 0 1rem 0.5rem 0;
      background: #e7e7e7;
      padding: 0.5rem 1rem;
      border-radius: 10px;
    }
  }

  &__description {
    font-size: $font-small;
    overflow: scroll;
  }
}
