@import 'mixins';
@import 'variables';

.blocks {
  display: flex;
  flex-direction: column;
  width: 90rem;
  margin: 0 auto;

  &__loading {
    margin: 2rem auto;
    font-size: $font-text;
  }

  &__block {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    margin: 2rem 0;

    &__info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      @include respond(tab) {
        flex-direction: column;
      }

      h2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: $font-text;
        width: 40rem;

        @include respond(tab) {
          width: auto;
          margin: 0 auto;
        }
      }

      &__buttons {
        @include respond(phone) {
          display: flex;
          flex-direction: row;
          justify-content: center;
          flex-wrap: wrap;
        }

        button {
          padding: 1rem 2rem;
          background-color: $red;
          border-radius: 10px;
          border-style: none;
          font-size: $font-text;
          cursor: pointer;

          @include respond(tab) {
            margin: 1rem 0;
          }
        }
        label {
          font-size: $font-text;
          background-color: $red;
          margin-right: 5rem;
          text-align: center;
          font-weight: 400;
          padding: 0.75rem 2rem;
          color: #000;
          text-decoration: none;
          border-radius: 10px;
          width: 20rem;
          cursor: pointer;

          input[type='file'] {
            display: none;
          }

          @include respond(tab) {
            margin: 1rem;
          }
        }
      }
      a {
        padding: 1rem 2rem;
        background-color: $red;
        border-radius: 10px;
        border-style: none;
        font-size: $font-text;
        cursor: pointer;
        color: #000;
        text-decoration: none;
      }
      &__img {
        width: 3rem;
        height: 3rem;
        cursor: pointer;
        transition: all 0.3s;
      }
    }

    &__success {
      text-align: center;
      font-size: $font-text;
      color: $red;
    }

    &__error {
      text-align: center;
      font-size: $font-text;
      color: red;
    }

    &__create {
      .create {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 85rem;
        margin: 2rem auto;

        @include respond(tab) {
          width: 100%;
          flex-direction: column;
        }

        &__desc {
          h2 {
            font-size: 2.5rem;
          }
          p {
            font-size: $font-text;
            width: 30rem;

            @include respond(tab) {
              width: 100%;
              margin-bottom: 2rem;
            }
          }
        }

        &__inputs {
          width: 100%;

          h3 {
            font-size: $font-small;
            margin-bottom: 1rem;

            @include respond(tab-small) {
              font-size: $font-text;
            }
          }

          &__input {
            display: flex;
            flex-direction: column;
            margin-bottom: 2rem;

            label {
              font-size: $font-small;

              display: flex;
              flex-direction: row;
              justify-content: space-between;

              @include respond(tab-small) {
                font-size: $font-text;
              }

              div {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                cursor: pointer;

                p {
                  margin-right: 1rem;
                }
              }
            }
            input {
              padding: 1rem;
              border-radius: 5px;
              border: 1px solid #6a6a6a;
            }
            select {
              padding: 1rem;
              border-radius: 5px;
              border: 1px solid #6a6a6a;
              appearance: none;
              background-image: url('/images/layout/arrow.png');
              background-repeat: no-repeat;
              background-position: right 0.7rem top 50%;
              background-size: 2rem auto;

              &:invalid {
                color: #636c72;
              }
            }

            &__rate {
              display: flex;
              flex-direction: row;

              p {
                font-size: 2.5rem;
                line-height: 3.5rem;
                margin: 0 0.5rem;
              }
              &__to {
                font-size: $font-text !important;
                margin: 0 1rem;
              }
              input {
                width: 5rem;
              }
            }

            textarea {
              resize: none;
              width: 100%;
              height: 10rem;
              padding: 1rem;
              border-radius: 5px;
              border: 1px solid #6a6a6a;
              font-family: Arial;
            }
          }

          &__button {
            color: $red-dark;
            background-color: transparent;
            border-style: none;
            font-weight: 700;
            font-size: $font-text;
            cursor: pointer;
            transform: translateY(-2rem);
            display: flex;
            flex-direction: row;

            div {
              transform: translateY(-0.2rem);
              margin-left: 0.5rem;
            }
          }

          &__disclaimer {
            font-size: $font-small;
            // color: red;

            @include respond(tab-small) {
              font-size: $font-text;
            }
          }

          &__preview {
            color: #000;
            background-color: $red;
            padding: 1rem 2rem;
            border-radius: 10px;
            margin-top: 1rem;
            border-style: none;
            font-size: $font-text;
            font-weight: 700;
            cursor: pointer;
          }

          &__error {
            margin-top: 1rem;
            font-size: $font-small;
            color: red;

            @include respond(tab-small) {
              font-size: $font-text;
            }
          }
        }
      }
    }
  }
}
